{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<header class="indexHeader">
		<h1>Bienvenue</h1>
		<img src="{{ asset('images/logo.png') }}" alt="" class="logoIndex">
	</header>

	<main class="container">
		<h2>Nos derniers produits</h2>
		<div class="containerProduit container">
			{% for produit in produits %}
				<a href="{{ path('produitDetails', {'produitId': produit.id}) }}">
					<div class="cardProduit">
						<img src="{{ produit.image }}" alt="{{ produit.nom }}">
						<strong>{{ produit.nom }}</strong>
						<kbd>
							{% if produit.stock > 0 %}En stock{% else %}Rupture de stock
							{% endif %}

						</kbd>
					</div>
				</a>
			{% endfor %}
		</div>
	</main>
{% endblock %}
