<!DOCTYPE html>
<html data-theme="light">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('styles/global.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}">
	</head>

	<body>
		<nav class="container">
			<ul>
				<li><a href="{{ path('index') }}"><img src="{{ asset('images/logo.png') }}" alt="" class="logoNav"></a></li>
				<li>
					<a href="{{ path('index') }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path('produits') }}">Nos produits</a>
				</li>
			</ul>
			<ul>
				{% if app.user %}
					<li>
						<a href="{{ path('adminHome') }}"><u>Espace admin</u></a>
						<a href="{{ path('app_logout') }}"><kbd>Se deconnecter</kbd></a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_login') }}"><kbd>Se connecter</kbd></a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<div>
			{% include "partials/flash.html.twig" %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
